.about-us {
    &__image {
        text-align: center;
        position: relative;
        padding-bottom: 60px;
        > img {
            border-top: 0.875rem solid theme-color('primary');
        }
        @include media-breakpoint-up('md'){
            padding-bottom: 120px;
            &:after {
                position: absolute;
                content: '';
                background-image: url('../images/about-dots.svg');
                background-size: contain;
                background-repeat: no-repeat;
                margin: 0 auto;
                top: 50%;
                bottom: 0;
                left: 0;
                right: 0;
                width: 220px;
                height: 100%;
                z-index: 99999999;
            }
        }
    }
    &__content {
        max-width: 760px;
        line-height: 30px;
    }
}