.default-page{
    &__contact {
        .vfbp-form {
            max-width: 800px;
            margin: 0 auto;
        }
        .vfbp-form label {
            color: theme-color('primary');
            font-weight: 400;
        }
        .vfbp-form .vfb-form-control {
            border: 1px solid theme-color('primary');
        }
        .vfbp-form .btn-primary {
            border-color: theme-color('primary');
            background-color: theme-color('primary');
            padding-left: 40px;
            padding-right: 40px;
            text-transform: uppercase;
        }
        .vfb-fieldType-submit {
            text-align: center;
        }
    }
}