.instructions {
    max-width: 1000px;
    margin: 0 auto;
    &__item {
        @include media-breakpoint-up('md') {
            display: flex;
                &:nth-child(even){
                    display: flex;
                    flex-direction: row-reverse
                }
            padding: 40px 0;
        }
        padding: 20px 0;
    }
    &__image {
        text-align: center;
        max-width: 160px;
        @include media-breakpoint-down('md'){
            margin: 0 auto;
        }
    }
    &__description {
        max-width: 760px;
        display: flex;
        align-items: flex-end;
        > p{
            margin: 0;
        }
        padding-top: 1rem;
        @include media-breakpoint-up('md') {
            padding-top: 0;
        }
    }
}