@import 'single';
@import 'about-us';
@import 'how-to';
@import 'default';
@import 'contact';


.terms {
    &__content {
        max-width: 800px;
        margin: 0 auto;
    }
}
.farmaon-pagination {
    margin-bottom: 20px;
    .nav-links {
        .page-numbers {
            color: theme-color('primary');
            margin: 0 6px;
        }
        .page-numbers.current {
            color: theme-color('primary');
            font-weight: 600;
        }
    }
}
