.single-post {
    position: relative;
    @include media-breakpoint-up('md'){
        &:after {
            position: absolute;
            right: 0;
            content: '';
            background-image: url(../images/blog-shape.png);  
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 99;
            width: 120px;;
            height: 340px;
            top: -180px;;
        }
    }
    &__title {
        max-width: 500px;
        text-align: center;
        padding: 1rem 2rem;
        margin: 0 auto;
        margin-top: -48px;
        background: #fff;
    }
    &__navigation {
        padding: 2rem 0;
        max-width: 1200px;
        margin: 0 auto;
    }
    &__content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 0 1.25rem 0;
        font-size: 1.125rem;
        @include media-breakpoint-up('md') {
            padding: 0 0 4rem 0;
        }
        > p {
            text-align: left;
            > img{
                max-width: 100%;
                height: auto;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
    &__social-share {
        text-align: center;
        padding: 1rem 0 ;
        @include media-breakpoint-up('lg'){
            padding: 2rem 0 5rem 0;
        }
        max-width: 500px;
        margin: 0 auto;
        .a2a_default_style a {
            margin: 0.625rem 1.5rem;
            display: flex;
            align-items: center;
            color: $black;
        }
    }
}
.latest-articles {
    &__header {
        > h2 {
            margin-bottom: 0;
        }
        text-align: center;
        padding:   1.25rem 0;
        background-image: url(../images/dots.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 80%;
        @include media-breakpoint-up('lg'){
            margin-bottom: 4rem;
            padding:   2.25rem 0;
            background-size: 30%;
        }
    }
    padding-bottom: 5rem;
}