.banner{
    height: 300px;
    @include media-breakpoint-up('md') {
        height: 500px;
    }
    //position: relative;
    &__content {
        margin-left: auto;
        top: 50%;
        transform: translateY(-50%);
        max-width: 560px;
        text-align: center; 
        right: 0;
        > a {
            max-width: 172px;
            text-align: center;
            margin: 0 auto;
        }
        padding: 1rem;
        > h2 {
            color: theme-color('primary');
            font-weight: 600;
            @include media-breakpoint-up('md') {
                font-size: 4rem;
                margin-bottom: 	1.5rem;
            }
        }
        > p {
            color: theme-color('secondary');
            margin-bottom: 		1.75rem;
        }
        position: relative;
        &:after {
            position: absolute;
            content: '';
            background-image: url('../images/dots.svg');
            background-position: center;
            background-size: contain;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            top: 0;
            left: 0;
        }
    }
}