.article-card {
    &__title {
        > h5 {
            color: theme-color('primary');
            text-align: center;
            font-weight: 600;
        }
    }
    &__date {
        text-align: center;
    }
    &__image {
        text-align: center;
        background-position: center center;
        background-size: cover;
        height: 240px;
        @include media-breakpoint-up('md') {
            height: 380px;
        }
    }
    &__container {
        padding: 1rem;
        > a {
            text-decoration: none;
        }
    }
    &__content {
        max-width: 540px;
        margin: 0 auto;
        padding: 0;
        background-color: $white;
        position: relative;
        text-align: left;
        > a {
            text-decoration: none;
        }
        @include media-breakpoint-up('lg') {
            margin-top: -40px;
            padding: 2rem;
            text-align: center;
        }
    }
    &__link {
        text-align: center;
        > a {
            color: theme-color('primary');
            font-weight: 600;
            &:hover {
                text-decoration: none;
            }
        }
    }
}