.site-logo {
    > svg {
        fill: theme-color('primary');
    }
}
.contact {
    background-color: theme-color('primary');
    color: $white;
    &__item {
        font-size: 	0.875rem;
        > p {
            color: $white;
        }
        > span p {
            color: $white;
        }
    }
}

.site-search-form {
    // width: 70%;
    border: 1px solid theme-color('primary');
}

.search-account {
    // position: relative;
    // overflow: hidden;
    > a {
        color: theme-color('primary');
        font-size: 1.25rem;
        margin-left: 0.65rem;
        
    }
}
.main-header {
    border-bottom: 1px solid theme-color('primary');
}
.cart-items {
    position: absolute;
    right: 	0.625rem;
    top: -0.6875rem;
    color: theme-color('primary');
    @include media-breakpoint-up('md'){
        top: -0.875rem;
        right: 0;
    }
}
.menu-header {
    ul {
        padding-left: 15px;
        li {
            list-style: none;
            padding: 1rem 0;
            font-size: 1rem;
            //border-bottom: 1px solid rgba(27, 141, 140, 0.2);
            > a {
                color: #6c757d;
                text-decoration: none;
                //font-weight: 600;
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
}
.js-fragment-user-info {
    margin-right: 1.25rem;
}

// mobile header
.mobile-header {
    &__items {
        color: theme-color('primary');
        > a {
            color: theme-color('primary');
            margin-left: 1rem;
        }
    }
}

.input-group {
    //border: 1px solid theme-color('primary');
    //border-radius:  0.25rem;
    .form-control {
        border: none;
        outline: none;
    }
    .btn-primary {
        max-height: max-content!important;
        > i {
            color: theme-color('primary');
        }
        &--transparent {
            background: transparent;
            color: theme-color('primary');
        }
    }
}
.expandSearch{
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    height: 40px;
    //margin-right: 1rem;
  }
  .expandSearch i{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: 0.1s;
      color: theme-color('primary');
      height: 40px;
      width: 40px;
      //background-color: theme-color('primary');
      //border-radius: 50%;
      //margin-right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
// woocommerce search
.widget_product_search {
    .woocommerce-product-search {
        border: 1px solid theme-color('primary');
        [type="search"] {
            border: 0;
        }
        button {
            display: none;
        }
    }
}
// mobile search
.site-search-form {
    &__button {
        border-radius: 0!important;
    }
}
.search-button-mobile {
    background: transparent;
    border: none;
    color: theme-color('primary');
    outline: 0;
}