@import 'menu';
@import 'slider';
@import 'header';
@import 'services';
@import 'banner';
@import 'blog';

.featured-section {
    position: relative;
    overflow: hidden;
}
img.woocommerce-placeholder {
    max-width: 250px;
    height: auto;
    width: 250px;
}