.service {
    display: flex;
    align-items: center;
    @include media-breakpoint-up('md') {
        justify-content: center;
    }
    &__image{
        > img {
            height: 52px;
            width: auto; 
            @include media-breakpoint-down('md') {
                max-width: 42px;
            }
        }
    }
    &__content {
        > h5 {
            color: theme-color('primary');
            font-weight: 600;
        }
        > p {
            margin-bottom: 0;
            color: $gray-600;
            line-height: 1.125rem;
        }
    }
}