.main-carousel {
    overflow: hidden;

    &__cell {
        height: auto;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    &__cell-container {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        overflow: hidden;
        @include media-breakpoint-up('md') {
            padding-bottom: 50%;
        }
    }

    &__link {
        &:hover {
            text-decoration: none;
        }
    }
    @include media-breakpoint-up('md') {
        &__overlay {
            position: absolute;
            background: linear-gradient(90deg,#1b8d8c 0,transparent);
            width: 50%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
        }
    }

    &__content {
        // color: $white;
        // padding-bottom: 2.5rem;
        z-index: 99999;
        @include media-breakpoint-up('md') {
            color: $white;
            left: 10%;
            max-width: 500px;
            border-left: 2px solid $white;
            text-align: left;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 1.5rem;
            // &.left {
            //     left: 4rem;
            // }
            // &.right {
            //     right: 4rem;
            //     text-align: right;
            // }
        }
        h4 {
            color: #fff; 
            font-size: 24px;
            font-weight: 700;
            // padding: 0 0 0 10px;
            // border-left: 2px solid #fff;
            @include media-breakpoint-up('md') {
                font-size: 50px;
            }
        }
        > p {
            color: $white;
            margin: 1rem 0;
        }
        
    }
    &__mobile-image {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center center;
        @include media-breakpoint-up('md') {
            display: none;
        }
    }
    &__desktop-image {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center center;
        @include media-breakpoint-up('md') {
            display: block;
        }
    }
    .flickity-page-dots {
        bottom: 10px;
    }
    .flickity-prev-next-button {
        display: none;
        @include media-breakpoint-up('md') {
            display: block;
            width: 36px;
            height: 36px;
        }
    }
}