
/* move page dots into carousel */
.carousel {
    height: 100%;
}

.carousel-cell {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    margin-right: .5rem;
    margin-left: .5rem;
    background-color: $white;
}
