.drawer {
    @include drawer();
    &--right-to-left {
        .drawer__container {
            @include drawer-rlt();
        }
        
    }
    &.show {
        pointer-events: auto;
        .drawer__overlay {
            opacity: 1;
            pointer-events: auto;
        }
        .drawer__container {
            transform: translateX(0);
            pointer-events: auto;
        }
        @include media-breakpoint-up('lg') {
            pointer-events: none;
            visibility: hidden;
            .drawer__overlay {
                opacity: 0;
                pointer-events: none;
            }
            .drawer__container {
                transform: translateX(-100%);
                pointer-events: none;
            }
        }
    }

    &__overlay {
        @include drawer-overlay();
    }
    &__container {
        @include drawer-container();
    }
}