.site-footer {
    background-image: url(../images/footer-bg.jpg);
    color: $white;
    background-repeat: no-repeat;
    background-size: cover;
    .footer-categories {
        > h5 {
            font-weight: 700;
            margin-bottom: 20px;
            @include media-breakpoint-up('lg') {
                margin-bottom: 30px;
            }
        }
        @include media-breakpoint-up('lg'){
            // max-width: 300px;
            // margin: 0 auto;
        }
        li {
            list-style: none;
            padding-bottom: 6px;
            > a {
                color: $white;
                text-decoration: none;
            }
        }
    }
    .footer-menu {
        > ul {
            padding-left: 0;
        }
        > ul li {
            list-style: none;
            padding-bottom: 6px;
            max-width: 340px;
            > a {
                color: $white;
                font-weight: 600;
                text-decoration: none;
            }
        }

    }
    .footer-social {
        > a {
            color: $white;
            font-size: 1.25rem;
            margin-right: 2rem;
            margin-left: 0;
            @include media-breakpoint-up('lg'){
                margin-left: 0;
                margin-right: 2rem;
            }
        }
    }
    .footer-logo {
        > svg {
            fill: $white;
        }
    }
    .footer-description {
        &__content {
            max-width: 350px;
            padding: 10px 0;
            font-weight: 600;
        }
    }
    .copyright p {
        color: $white;
    }
    .quick-links {
        > h5 {
            font-weight: 700;
            margin-bottom: 20px; 
        }
    }
}
.footer-logo {
    max-width: 140px;
    height: auto;
}