$main-menu-link-spacer: 0.5rem;
.main-navigation {
    margin-left: -$main-menu-link-spacer;
    margin-right: -$main-menu-link-spacer;
    &__container {
        position: relative;
    }
    &__nav {
        white-space: nowrap;
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        width: 100%;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none!important;
        }
    }
    &__link {
        text-transform: uppercase;
        padding: .75rem $main-menu-link-spacer;
        font-size: 0.85rem;
        font-weight: 300;
        color: gray('600');
        transition:  all .2s ease;
        &:hover, &:active, &:focus {
            background-color: theme-color('primary');
            color: $white;
        }
        &.is-selected {
            background-color: theme-color('primary');
            color: $white;
        }
        span {
            display: block;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__item {
        // max-width: 130px;
        &.has-children {
            &:hover, &:active, &:focus {
                .main-navigation__dropdown {
                    visibility: visible;
                    transform: translateY(0);
                    opacity: 1;
                    pointer-events: auto;
                    transition: opacity .15s ease, transform 0.1s ease-in-out;
                }
            }
            &:focus-within > .main-navigation__dropdown {
                visibility: visible;
                transform: translateY(0);
                opacity: 1;
                pointer-events: auto;
                transition: opacity .15s ease, transform 0.1s ease-in-out;
            }
        }
    }


    &__dropdown {
        visibility: hidden;
        top: 44px;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1001;
        transform: translateY(20px);
        opacity: 0;
        pointer-events: none;
        transition: opacity .2s ease, transform 0.15s ease-in-out;
        padding-left: $main-menu-link-spacer;
        padding-right: $main-menu-link-spacer;
        &__container {
            background: $white;
            min-height: 300px;
            margin-top: 0.125rem;
            // border-radius: $prenatal-border-radius;
            overflow: hidden;
        }
        &__nav-container {
            padding: 0.75rem 0.25rem;
            display: flex;
            flex-direction: column;
        }
        &__featured-product-container {
            min-width: 260px;
            max-width: 300px;
            display: flex;
        }
    }

    &__horizontal-nav {
        flex: 1;
        flex-wrap: nowrap;
        &__link {
            color: gray('800');
            font-weight: 600;
            font-size: 0.9rem;
            white-space: normal;
        }

        &__item {
            border-right: 1px solid gray('200');

            &:last-child {
                border-right: none;
            }
        }
    }

    &__vertical-nav {
        &__link  {
            color: gray('600');
            font-weight: 300;
            padding: 0.25em 1rem;
            font-size: 0.9rem;
            white-space: normal;
            line-height: 1.25;
        }

        &__item {
            &.has-children {
                .nav {
                    padding-left: .25rem;
                }
            }
        }
    }
}

$m-border-color: gray('400');

// .mobile-navigation {
//     &__container {
//         position: relative;
//         padding: 0.5rem;
//     }
//     &__header {
//         padding-top: 2rem;
//     }
//     &__title {
//         color: theme-color("primary");
//         font-weight: 600;
//         font-size: 1rem;
//         text-transform: uppercase;
//         padding: 0.25rem 1rem;
//         margin: 0;
//     }
//     &__nav {
//     }
//     &__link {
//         text-transform: uppercase;
//         color: gray('600');
//         transition:  all .2s ease;
//         display: flex;
//         align-items: center;
//         font-size: 0.95em;
//         border-bottom: 1px solid $m-border-color;
//         border-top: 1px solid $m-border-color;
//         border-left: 1px solid $m-border-color;
//         border-right: 1px solid $m-border-color;
//         margin-bottom: -1px;
//         &:hover, &:active, &:focus {
//             color: $link-hover-color;
//         }
//         &.is-selected {
//             color: $link-hover-color;
//         }
//         span.label {
//             display: block;
//             width: 100%;
//             text-overflow: ellipsis;
//             overflow: hidden;
//             white-space: nowrap;
//             flex: 1;
//             padding-right: 1rem;
//         }
//         span.mobile-navigation__icon {
//             font-size: 0.8em;
//         }
//     }

//     &__icon {
//         position: relative;
//         width: 1em;
//         height: 1em;
//         &:before, &:after {
//             content: '';
//             position: absolute;
//             left: 50%;
//             top: 0;
//             height: 100%;
//             width: 2px;
//             border-radius: 2px;
//             background: currentColor;
//             margin-left: -1px;
//             transition: transform .2s ease-in-out, opacity .15s ease;
//             transform: rotate(0deg);
//             transform-origin: center center;
//             opacity: 1;
//         }
//         &:after {
//             transform: rotate(90deg);
//         }
//     }

//     &__item {
//         &:first-child {
//             > .mobile-navigation__link {
//                 border-top-left-radius: 0.25rem;
//                 border-top-right-radius: 0.25rem;
//             }
//         }
//         &:last-child {
//             > .mobile-navigation__link {
//                 border-bottom-left-radius: 0.25rem;
//                 border-bottom-right-radius: 0.25rem;
//             }
//         }
//         &.has-children {
//             .mobile-navigation__nav {
//                 margin-left: 0.5rem;
//                 margin-right: 0.5rem;
//                 display: none;
//             }

//             &.show {
//                 > a .mobile-navigation__icon {
//                     &:before {
//                         transform: rotate(90deg); // minus icon
//                         opacity: 0;
//                     }
//                 }
//                 > .mobile-navigation__nav {
//                     display: block;
//                 }

//                 > .mobile-navigation__link {
//                     border-bottom-left-radius: 0.25rem;
//                     border-bottom-right-radius: 0.25rem;
//                 }
//                 + .mobile-navigation__item {
//                     > .mobile-navigation__link {
//                         border-top-left-radius: 0.25rem;
//                         border-top-right-radius: 0.25rem;
//                     }
//                 }
//             }
//         }
//     }
// }

// .mobile-account-menu nav {
//     border: none;
//     border-radius: 0;
// }

// .account-dropdown-desktop nav {
//     border: none;
// }

.farmaon-border {
    // border-top: 1px solid theme-color('primary');
    border-bottom: 1px solid theme-color('primary');
}