@import 'base';

@import 'theme';
@import 'bootstrap';
@import "~flickity/css/flickity.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
// @import '~photoswipe/src/css/main';
// @import '~photoswipe/src/css/default-skin/default-skin';

@import 'carousel';
@import 'drawer';
@import 'menu';
@import 'footer';
@import 'home/index';
@import 'product/index';
@import 'woocommerce/index';
@import 'pages/index';

p {
    color: theme-color('secondary');
}

.woocommerce-checkout #payment ul.payment_methods li img {
    max-width: 160px;
}

h1,
h2,
h3,
h4,
// h5,
h6 {
    color: theme-color('primary');
}
a {
    &:hover {
        color: theme-color('primary');
    }
}
.site {
    min-height: 100vh;
}
.social-items {
    > a {
        color: theme-color('primary');
        margin-right: 1.75rem;
        font-size: 1.25rem;
        &:hover {
            text-decoration: none;
        }
    }
}
.btn-primary {
    &--white {
        background-color: $white;
        border-color: $white;
        color: theme-color('primary');
        // max-height: max-content;
    }
}
.btn-primary.disabled, .btn-primary:disabled {
    // max-height: max-content!important;
}

// home section title
.home-section {
    background-image: url('../images/dots.svg');
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover;
    @include media-breakpoint-up('md') {
        background-size: 38%;
    }
    &__content {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        @include media-breakpoint-up('md') {
            padding: 2.5rem 0;
        }
        > h1 {
            > a {
                color: theme-color('primary');
                text-decoration: none;
            }
            position: relative; 
            color: theme-color('primary');
            font-weight: 700;
            font-size: 1.75rem; 
            margin-bottom: 2.5rem;
            @include media-breakpoint-up('lg') {
                font-size: 3.125rem;
                &:before {
                    position: absolute;
                    left: -50%;
                    content: '';
                    background-image: url(../images/line.svg);  
                    background-position: center;
                    background-size: contain;
                    z-index: 99999;
                    width: 50%;
                    height: 24%;
                    background-repeat: no-repeat;
                    top: 50%;
                    transform: translateY(-50%);          
                }
                &:after {
                    position: absolute;
                    right: -50%;
                    content: '';
                    background-image: url(../images/line.svg);  
                    background-position: center;
                    background-size: contain;
                    z-index: 99999;
                    width: 50%;
                    height: 24%;
                    background-repeat: no-repeat;
                    top: 50%;
                    transform: translateY(-50%);
                    transform: rotate(180deg);
                }
            }
        }

        > p {
            //color: $theme-color('secondary');
        }   
    } 
}
.contact-map {
    height: 440px;
    @include media-breakpoint-up('md'){
        height: 740px;
    }
}
.home-categories {
    
    .cat-item {
        list-style: none;
        color: theme-color('primary');
        padding: 1rem 0;
        border-bottom: 1px solid rgba(27, 141, 140, 0.2);
        ul.children{
            display: none;
        }
        > a {
            color: theme-color('primary');
            font-weight: 600;
           
        }
        position: relative;
        top: 0;
        left: 0;
        z-index: 9999;
        width: auto;
        &:hover {
            background: linear-gradient(to right, #fff 0%, rgba(27, 141, 140, 0.2) 100%);
            transform-origin:left;
            transition:color 0.25s ease;
        }
        &.has-children {
            cursor: pointer;
            &:hover{
                background: linear-gradient(to right, #fff 0%, rgba(27, 141, 140, 0.2) 100%);
                transform-origin:left;
                transition:color 0.25s ease;
                > ul.children {
                    display: block!important;
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 100%;
                    background: #fff;
                    padding-left: 1rem;
                    // max-height: 400px;
                    // overflow-y: wrap; 
                }
                
            }
            &::after{
                position: absolute; 
                content: ">";
                color: theme-color('primary');
                right: 0.625rem;
                top: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}


// mobile navigation

.mobile-navigation {
    &__container {
        position: relative;
        padding: 0.5rem 0.5rem 0.5rem 0;
        max-width: 340px;
    }
    &__header {
        padding-top: 2rem;
    }
    &__title {
        color: theme-color("primary");
        font-weight: 600;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 0.25rem 1rem;
        margin: 0;
    }
    &__nav {
    }
    &__link {
        text-transform: none;
        color: gray('600');
        transition:  all .2s ease;
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin-bottom: -1px;
        padding-left: 15px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        @include media-breakpoint-down('md'){
            // padding-left: 1rem;
            // max-width: 200px;
        }
        @include media-breakpoint-up('md') {
            max-width: 260px;
        }
        &:hover, &:active, &:focus {
            color: theme-color('primary');
            //font-weight: 700;
        }
        &.is-selected {
            color: theme-color('primary');
            font-weight: 700; 
        }
        span {
            display: block;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            flex: 1;
            padding-right: 1rem;
        }
        i {
            font-size: 0.8em;
        }
    }

    &__icon {
        &:before {
            content: "\f067" // plus icon from font-awesome
        }
    }

    &__item {
        &:first-child {
            > .mobile-navigation__link {
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
            }
        }
        &:last-child {
            > .mobile-navigation__link {
                border-bottom-left-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
            }
        }
        &.has-children {
            .mobile-navigation__nav {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                display: none;
            }

            &.show {
                > a .mobile-navigation__icon {
                    &:before {
                        content: "\f068" // minus icon from font-awesome
                    }
                }
                > .mobile-navigation__nav {
                    display: block;
                    
                }
                > ul {
                   > li {
                        > a {
                            color: theme-color('primary');
                        }
                    }
                }
                > .mobile-navigation__link {
                    border-bottom-left-radius: 0.25rem;
                    border-bottom-right-radius: 0.25rem;
                }
                + .mobile-navigation__item {
                    > .mobile-navigation__link {
                        border-top-left-radius: 0.25rem;
                        border-top-right-radius: 0.25rem;
                    }
                }
            }
        }
    }
}



.section-shape {
    @include media-breakpoint-up('md'){
        background-size: 18%;
        background-image: url('../images/blog-shape.svg');
        background-position: right;
        background-repeat: no-repeat;
    }
}


.cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    @include media-breakpoint-up('md') {
        height: 440px;
    }
}
.default-cover {
    background-position: center;
    background-image: url('../images/default-cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
}

.woocommerce-breadcrumb {
    > a {
        color: theme-color('primary');
        font-weight: 600;
    }
}




.pn-dropdown-trigger {
    position: relative;
    &:hover, &:active {
        .pn-dropdown {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0);
        }
    }
    a.nav-link{
        font-size: 1.25rem;
        color: theme-color('primary');
    }
    .header-minicart-icon a {
        font-size: 1.25rem;
        color: theme-color('primary');
    }
}

.pn-dropdown {
    position: absolute;
    top: 100%;
    right: -40px;
    min-width: 240px;
    z-index: 1001;
    opacity: 0;
    pointer-events: none;
    transform: translateY(40px);
    transition: opacity .2s ease, transform .15s ease-in-out;
    &--right {
        left: auto;
        right: 0;
    }
    &__container {
        margin-top: 0.5rem;
        background-color: $white;
        box-shadow: 0px 2px 16px 0 rgba(0,0,0,0.125);
        border-radius: 0.5rem;
    }
    &__content {
        color: gray('700');
        padding: 1rem;
        > ul {
            list-style: none;
            padding: 1rem;
            .woocommerce-MyAccount-navigation-link {
                > a {
                    color: theme-color('primary');
                    padding: 0.375rem 0;
                }
            }
        }
    }
}
.orderby {
    max-width: 300px;
}
.price {
    margin-bottom: 12px;
}

.site-logo {
    @include media-breakpoint-down('md') {
        > img {
            max-width: 125px;
            height: auto;
        }
    }
}

.woocommerce-order-pay {
    .site-content {
        .woocommerce {
            padding: 40px 0;
            max-width: 1600px;
            margin: 0 auto;
        }
    }
}