.product-card {
    padding: 1rem;
    position: relative;
    > a {
        
        &:hover{
            text-decoration: none;
        }
    }
    &__container {
        min-height: 460px;
    }
    &__image {
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        text-align: center;
        margin-bottom: 1.25rem;
        position: relative;
        max-width: 250px;
        min-width: 250px;
        min-height: 250px;
        object-fit: contain;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__overlay {
        display: none;
    }
    > p {
        min-height: 100px;
        height: 100px;
        position: relative;
        overflow: hidden;
    }
    &:hover{
        .product-card__overlay {
            display: block;
            position: absolute;
            top: 0;
            height: 250px;
            max-width: 250px;
            min-width: 250px;
            right: 0;
            left: 0;
            background: rgba(11, 120, 107, 0.75);
            opacity: 1;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            border-radius: $border-radius;
        }
        .buy-now-link {
            display: flex;
            align-items: center;
            justify-content: center;
            color: theme-color('primary');
            border-radius: $border-radius;
            background: $white;
            padding: 6px 0;
            width: 50%;
            margin: 0 auto;
            top: 50%;
            position: absolute;
            right: 0;
            left: 0;
            border: none;
        }
    }


    // &__overlay {
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     text-align: center;
    //     background: theme-color('primary');
    //     display: none;
    //     &:hover {
    //         display: block!important;
    //     }
    // }
    &__title {
        color: theme-color('primary');
        font-size: 1.125rem; 
        max-width: 260px;
        min-height: 40px;
    }
    &__description {
        min-height: 50px;
        color: theme-color('secondary');
        max-width: 260px;
        min-height: 100px;
    }
    &__price {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        border-top: 1px solid rgba(27, 141, 140, 0.2);
        font-weight: 700;
        color: theme-color('primary');
        ins {
            color: $orange;
        }
        del {
            color: theme-color('primary');
        }
    }
    &__top{
        // padding-bottom: 1rem;
        position: relative;
        &:hover {
            .product-card__buynow {
                opacity: 1;
                pointer-events: auto;
                visibility: visible;
                transition: all .2s ease;
            }
        }
    }
    // &__buynow{
    //     position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     right: 0px;
    //     bottom: 0px;
    //     z-index: 9999;
    //     background: rgba($white, 0.75);
    //     opacity: 1;
    //     pointer-events: none;
    //     visibility: hidden;
    //     transition: all .2s ease;
    //     &__container{
    //         height: 100%;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //     }
    //     @include media-breakpoint-down('sm') {
    //         display: none;
    //     }
    // }
}
// products carousel
// .products-carousel {
//     &__cell {
//         width: 25%;
//     }
// }