.login-container {
    max-width: 500px;
    > h2 {
        text-align: center;
    }
    @include media-breakpoint-up('lg'){
        margin-left: auto;
    }
}
.register-container {
    max-width: 500px;
    > h2 {
        text-align: center;
    }
    @include media-breakpoint-up('lg'){
        margin-right: auto;
    }
}
.lost-password {
    max-width: 500px;
}
.navigate-account {
    > ul {
        margin-bottom: 0;
        list-style: none;
        padding-left: 0;
        > li {
            padding: 0.625rem 0;
            > a {
                color: theme-color('primary');
            }
        }
    }
}
.account-content {
    .woocommerce-MyAccount-content {
        max-width: 100%;
        float: none;
    }
}
