.categories-sidebar {
    padding-right: 1rem;
    
    &__title {
        border-bottom: 1px solid gray('500');
        > h4 {
            margin-bottom: 2rem;
        }
    }
}
.products-loop {
    @include media-breakpoint-up('md'){
        border-left: 1px solid gray('500');
        padding-left: 2rem;
    }
}
.woocommerce .products .product a img {
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    min-width: auto;
    max-width: auto;
    min-height: auto;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
}
@include media-breakpoint-up('md') {
    .woocommerce .products .product a img {
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        min-width: 250px;
        max-width: 250px;
        min-height: 250px;
        height: 250px;
        object-fit: contain;
        margin: 0 auto; 
    }
}
.woocommerce-loop-product {
    &__title {
        max-width: 250px;
        min-height: 60px;
        margin: 0 auto!important;
        font-size: 16px;
        padding-top: 1rem!important;
        font-weight: 600;
    }
    &__link {
        > p {
            min-height: 80px;
            max-width: 250px;
            margin: 0 auto;
            font-size: 0.75rem;
        }
        span.price {
            max-width: 250px;
            margin: 0 auto;
            font-size: 0.75rem;
        }
    }
    &__description {
        margin: 1rem 0;
        min-height: 62px;
    }
    .woocommerce .products .product {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
.woocommerce .products .product .price {
    display: flex;
    justify-content: space-between;
    color: theme-color('primary');
    font-weight: 600;
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid rgba(27, 141, 140, 0.2);
    margin: 0 auto;
}
.woocommerce .products .product .onsale {
    top: 1rem;
    right: 4px;
    margin: 0;
}
.woocommerce span.onsale {
    min-height: 3.236em;
    min-width: 3.236em;
    padding: 0 1rem; 
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 3.236; 
    border-radius: 0;
    background-color: $orange;
    color: #fff;
    font-size: .857em;
    z-index: 9;
    border-radius: $border-radius;
    max-width: max-content;
    left: auto;
}
// .woocommerce .products .product .button {
//     display: none;
//     margin-top: 1em;
//     position: absolute;
//     top: 18%;
//     text-align: center;
//     margin: 0 auto;
//     left: 0;
//     right: 0;
//     max-width: 150px;
// }
.woocommerce .products .product, .woocommerce-page .products .product {
    position: relative;
    .img-overlay {
        display: none;
    }
    > p {
        min-height: 100px;
        height: 100px;
        position: relative;
        overflow: hidden;
    }
    &:hover{
        .woocommerce .products .product .button {
            display: block!important;
        }
        .product-card__overlay {
            display: block;
            position: absolute;
            top: 16px;
            height: 250px;
            max-width: 250px;
            right: 0;
            left: 0;
            background: rgba(11, 120, 107, 0.75);
            opacity: 1;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            border-radius: $border-radius;
            margin: 0 auto;
            z-index: 99999;
        }
        .buy-now-link {
            display: flex;
            align-items: center;
            justify-content: center;
            color: theme-color('primary');
            border-radius: $border-radius;
            background: $white;
            padding: 6px 0;
            width: 50%;
            margin: 0 auto;
            top: 50%;
            position: absolute;
            right: 0;
            left: 0;
            border: none;
        }
    }
}
.woocommerce-pagination {
     li {
  > a {
            color: theme-color('primary');
        }
    }
}

.product-card {
    padding: 16px;
    margin: 20px 0;
    text-align: center;
}
// @include media-breakpoint-down('md'){ 
//     .woocommerce .products[ass*=columns-] li.product, 
//     .woocommerce-page .products[ass*=columns-] li.product {
//         width: 100%!important;

//     }
// }

@include media-breakpoint-down('md') {
    .short-description {
        display: none;
    }
}
.sidebar-filter {
    
    .widgettitle {
        font-size: 22px;
        border-bottom: 1px solid theme-color('primary');
        padding-bottom: 12px;
        margin-bottom: 20px;
    }
    .product-categories {
        padding-left: 0;
        list-style: none; 
        > li {
            margin: 8px 0;
            > a {
                color: theme-color('primary');
            }
            .children {
                list-style: none;
                padding-left: 10px;
            }
        }
    }
    .widget {
        margin-bottom: 24px;
    }
}
.cat-item {
    > a {
        color: theme-color('primary');
    }
}
.woocommerce {
    .widget_price_filter {
        .price_slider_amount .button {
            color: $white!important;
            background-color: theme-color('primary')!important;
        }
    }
}
.woocommerce-widget-layered-nav-dropdown__submit {
    color: $white;
    background-color: theme-color('primary');
    border: 1px solid theme-color('primary');
    border-radius: $border-radius;
    padding: .618em 1em;
    line-height: 1;
    font-weight: 700;
}

.woocommerce {
    .widget_price_filter {
        .ui-slider {
            .ui-slider-range {
                background-color: theme-color('primary');
            }
            .ui-slider-handle {
                background-color: theme-color('primary');
            }
        }
    }
}
// products loop - fix products on discount
@include media-breakpoint-down('md') {
    .woocommerce div.product p.price, 
    .woocommerce div.product span.price {
        font-size: 12px;
    }
    .woocommerce a.button {
        font-size: 12px!important;
    }
    .woocommerce-loop-product__title {
        font-size: 14px;
    }
}