.woocommerce table.shop_table {
    border: none;
    margin: 0;
    td {
        border-top: none;
    }
    .product-thumbnail {
        text-align: center;
    }
    .woocommerce-cart table.cart img {
        width: 60px;
    }
}
.brand-link {
    color: theme-color('primary');
}
.cart-collaterals {
    border-top: 1px solid gray('400');
}
.cart-content {
    @include media-breakpoint-up('md'){
        border-left: 1px solid gray('400');
    }
}
.cart-cover {
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &__overlay {
        position: absolute;
        background-color: rgba(27, 141, 140, 0.65);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}
.woocommerce-cart table.cart img {
    width: 120px;
    box-shadow: $box-shadow;
}
td.product-price,
td.product-subtotal {
    color: theme-color('primary');
}