.oreder-details {
    border-left: 1px solid gray('400');
}
.woocommerce form .form-row {
    width: 100%; 
}
.shipping-border {
    @include media-breakpoint-up('md') {
        border-left: 1px solid gray('400');
        border-right: 1px solid gray('400');
    }
}
span.woocommerce-input-wrapper {
    width: 100%;
}
.woocommerce-checkout #payment ul.payment_methods li img {
    max-width: 120px;
    height: auto;
}
.woocommerce-checkout-review-order {
    background: $white;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
}
.woocommerce-checkout #payment{
    background: $white;
}
#shipping_first_name_field,
#billing_first_name_field {
    width: 50%;
}
#shipping_last_name_field,
#billing_last_name_field {
    width: 50%;
}
#billing_city,
#shipping_city {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
}
.billing-shipping {
    max-width: 600px;
    margin: 0 auto;
    @include media-breakpoint-up('lg'){
        //border-right: 1px solid $gray-600;
    }
}
.order-details {
    max-width: 600px;
    margin: 0 auto;
}
.woocommerce-shipping-fields {
    > h3 {
        font-size: 20px;
    }
}