@import 'cart';
@import 'checkout';
@import 'account';
@import 'single-product';
@import 'minicart';
@import 'related-products';
@import 'archive';

.woocommerce-info,
.woocommerce-message {
    border-radius: $border-radius;
    border-top: none;
    background-color: rgba(27, 141, 140, 0.2);
}
.woocommerce-error {
    border-top: none;
    border-radius: $border-radius;
    background-color: rgba(184, 28, 35, 0.1);
}
.form-control, .input-text {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.delimiter {
    color: theme-color('primary');
    margin: 0 0.5rem;
    font-weight: 600;
}
.woocommerce .woocommerce-breadcrumb {
    color: theme-color('primary');
    font-weight: 600;
}

.home-categories {
    max-height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt ,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover{
    background-color: theme-color('primary');
}


.woocommerce a.button {
    background: theme-color('primary')!important;
    color: $white!important;
    font-size: 14px;
}

.woocommerce .products .product:hover .product-card__overlay, 
.woocommerce-page .products .product:hover .product-card__overlay {
    display: none;
}

@include media-breakpoint-up('md') {
    .products-card .woocommerce a.button ,
    .products-card .woocommerce a.button {
        // display: none;
    }
    .woocommerce .products .product:hover .product-card__overlay, 
    .woocommerce-page .products .product:hover .product-card__overlay {
        display: block;
    }
}
.add_to_wishlist {
    color: theme-color('primary');
}