.widget_shopping_cart_content {
    ul {
        list-style: none;
        padding-left: 0;
        > li {
            img {
                max-width: 60px;
                height: auto;
                margin-right: 6px;
                float: left;
                box-shadow: $box-shadow;
                margin-top: 0.625rem;
            }
            > a {
                font-size: 12px;
                color: theme-color('primary');
                
            }
            > a.remove {
                position: absolute;
                right: 6px;
                color: red;
            }
            .quantity {
                color: theme-color('primary');
                font-size: 12px;
            }
            margin: 1rem 0;
        }
    }
}
.woocommerce-page ul.cart_list li img, 
.woocommerce-page ul.product_list_widget li img {
    float: left;
}

.woocommerce-mini-cart {
    &__total {
        color: $black;
        margin: 1rem 0;
        padding: 1rem 0;
        border-top: 1px solid $gray-400;
        border-bottom: 1px solid $gray-400;
        display: flex;
        justify-content: space-around;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        > a {
            color: theme-color('primary');
        }
    }
}