.related-products {
    &__title {
        > h2 {
            margin-bottom: 0;
            font-weight: 600;
        }
        text-align: center;
        padding:   1.25rem 0;
        background-image: url(../images/dots.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 80%;
        @include media-breakpoint-up('lg'){
            margin-bottom: 4rem;
            margin-top: 2rem;
            padding:   2.25rem 0;
            background-size: 30%;
        }
    }
}