.single-product {
    .woocommerce-tabs {
        > ul.tabs {
            border: none;
            display: none;
        }
        padding-left: 2rem;
        border-left: 2px solid theme-color('primary');
    }
    .woocommerce div.product .woocommerce-tabs .panel {
        padding: 1rem 0 1rem 2rem;
        margin-bottom: 2rem;
        
        > p {
            margin-bottom: 0;
        }
    }
    .woocommerce-product-gallery{
        &__wrapper {
            //border: 1px solid gray('500');
            a {
                > img {
                    border: $border;
                    border-radius: $border-radius;
                    max-height: 440px;
                }
            }
        }
        .flex-control-nav {
            display: flex;
            list-style: none;
            padding-left: 0;
            justify-content: center;
        }
    }
    .woocommerce-product-gallery__image {
        text-align: center;
        //border: 1px solid gray('500');
    }
    .entry-title {
        padding: 1rem 0;
        margin-bottom: 2rem;
        position: relative;
        text-align: center;
        font-weight: 700;
        @include media-breakpoint-up('md') {
            padding: 2rem 0;
            &:after {
                position: absolute;
                content: '';
                background-image: url(../images/dots.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 62%;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    }
    @include media-breakpoint-up('md') {
        form.cart {
            display: block;
            margin-bottom: 1rem;
            .quantity {
                margin-right: 1rem;
            }
        }
    }
}
.product_meta {
    > a {
        color: $link-color;
    }
    .sku_wrapper, 
    .posted_in ,
    .tagged_as {
        color: $gray-600;
    }
}
.additional-details { 
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    max-width: 1200px;
    margin: 0 auto; 
    padding-bottom: 1.75rem;
    @include media-breakpoint-down('md'){
        overflow-y: scroll;
    }
    > h6 {
        font-size: 1.375rem;
    }
    > table {
        margin: 0 auto;
        color:  $gray-600;
    }
}
.entry-summary {
    p.price {
        color: theme-color('primary');
    }
    .price,
    .sku_wrapper,
    .posted_in{
        color: $black;
    }
    .woocommerce-Price-amount,
    .sku,
    .posted_in a{
        color: theme-color('primary');
    }
}
.woocommerce-product-details {
    &__short-description {
        > p{
            color: $black;
        }
    }
}
.woocommerce img, 
.woocommerce-page img {
    // max-width: 440px;
    padding: 1rem;
    object-fit: contain;
    @include media-breakpoint-up('md'){
        // min-height: 420px;
    }
}

.woocommerce {
    .product {
        .price {
            color: theme-color('primary')!important;
            font-weight: 600;
            margin-bottom: 12px;
        }
    }
}

.sale-perc {
    background-color: #E6634F;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: .25em;
    position: absolute;
    top: 25px;
    left: 20px;
}
.percentage {
    color: $danger;
    font-size: 18px;
}
.product-card { 
    > a {
        .short-description {
            > p {
                max-width: 250px;
                margin: 0 auto;
                margin-bottom: 20px;
                text-align: left;
            }
        }
    }
    .woocommerce-LoopProduct-link {
        .price {
            .percentage {
                display: none!important;
            }
        }
    }
}
.product_meta {
    .tagged_as {
        color: $black;
        > a {
            color: theme-color('primary');
        }
    }
}
.variations {
    #pa_color {
        display: none;
    }
}
@include media-breakpoint-down('md') {
    .product-color {
        flex-wrap: wrap;
    }
}
